html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  background: #f7fbff;
  .first-layer {
    min-height: 250px;
    .ant-picker.ant-picker-range {
      max-width: 250px;
    }
    .main-filters {
      .ant-checkbox-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .ant-checkbox-group-item,
       .ant-checkbox-wrapper {
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px grey;
        background: white;
      }
      .ant-checkbox-wrapper{
        margin-right: 8px;
        margin-left: 0;
      }
      .ant-checkbox-wrapper-checked{
        border-right: 5px solid #3939e9;
      }
    }
    .ant-scroll-number.ant-badge-count{
      background: #3939e9!important;
    }
  }
  .text-right{
    text-align: right;
  }
  .text-left{
    text-align: left;
  }
  .text-justify{
    text-align: justify;
  }
  .list-style-none{
    list-style: none;
    padding: 0;
  }
  .settings-btn {
    border-radius: 25px !important;
    padding: 10px 30px;
  }
  .main-sidebar {
    background: black;
    min-width: 200px;
    min-height: 100vh;
    color: white;
  }
  .analytics-title {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .main-table{
    th, td{
      padding: 20px 4px;
    }
  }
  .font-weight-bold{
    font-weight: bold;
  }
  .analytics-btn-contain{
    button{
      border-radius: 25px;
      padding: 10px 20px;
    }
  }
  .sorting-icon-contain{
    float: left;
    margin-right: 4px;
    margin-top: -3px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .app .main-sidebar {
    display: none;
  }
}
